.img1{
    border-radius:40px;
    
}
.img2{
    border-radius: 40px;
}
.size1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
img{
    border-radius: 40px;
}